body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(180deg, #a8d8ff, #6aa6ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#app {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.25);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  text-align: center;
  color: #01213f;
}

.big-temp {
  font-size: 1.4rem;
  font-weight: 600;
}

.hourly-row {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
}

.hour-box {
  background: rgba(255,255,255,0.35);
  border-radius: 14px;
  padding: 8px 0;
  font-size: 0.8rem;
  border: 1px solid rgba(255,255,255,0.7);
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  margin-top: 8px;
  background: rgba(255,255,255,0.7);
  font-size: 1rem;
}

.btn {
  padding: 10px 18px;
  border-radius: 15px;
  background: rgba(255,255,255,0.8);
  border: none;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 600;
}

.btn.primary {
  background: linear-gradient(135deg, #22c1c3, #4facfe);
  color: white;
}

.btn.full {
  width: 100%;
}

.hidden { display: none; }

.outfit-box {
  margin-top: 12px;
  padding: 14px;
  background: rgba(255,255,255,0.4);
  border-radius: 12px;
}


.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  margin-top: 10px;
}

.calendar-day {
  padding: 8px 0;
  background: rgba(255,255,255,0.45);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.7);
}

.today {
  background: linear-gradient(135deg, #4facfe, #22c1c3);
  color: white;
  font-weight: 600;
}


#closetPanel {
  position: fixed;
  right: -400px;
  top: 0;
  height: 100%;
  width: 350px;
  background: rgba(15,23,42,0.95);
  color: white;
  backdrop-filter: blur(15px);
  padding: 20px;
  transition: right 0.35s ease;
  overflow-y: auto;
  border-left: 1px solid rgba(255,255,255,0.4);
}

#closetPanel.open {
  right: 0;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  font-size: 28px;
  border: none;
  color: white;
  cursor: pointer;
}

.closet-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 10px;
}

.closet-item {
  background: rgba(255,255,255,0.15);
  padding: 8px;
  border-radius: 12px;
  text-align: center;
}

.closet-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 6px;
}